@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Salut !</h1>
    <h2>Proiect Medii de programare</h2>
    <p>Adrian Marchis IE ID GR3</p>
</div>
